# <center><u> Python-Intermediate </u></center>

1.Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']

In [ ]:
#code here
'''
a=['A','B','C','A','D','E','F','G','H','E','D']
b=set(a)
c=list(b)
c.sort()
print(c)
'''
'''
a=['A','B','C','A','D','E','F','G','H','E','D']
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)
'''
'''
a=['A','B','C','A','D','E','F','G','H','E','D']
b=dict.fromkeys(a)
c=list(b)
print(c)
'''
'''
a=['A','B','C','A','D','E','F','G','H','E','D']
c=[]
b=[c.append(i) for i in a if i not in c]
print(c)
'''

"\na=['A','B','C','A','D','E','F','G','H','E','D']\nc=[]\nb=[c.append(i) for i in a if i not in c]\nprint(c)\n"

2. Good! Shall we try solving above problem in shhorter way using list comprehention? It will be amazing. Here we go!

In [ ]:
#code here
a=['A','B','C','A','D','E','F','G','H','E','D']
c=[]
b=[c.append(i) for i in a if i not in c]
print(c)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

3. define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.

In [ ]:
#your code
'''def occurence(a,b):
  c=tuple(a)
  d=c.count(b)
  return d
#lets use your function
occurence([2,3,4,8,1,3,5,2,1,3,1,2,2], 2)'''

'''

def occurence(a,b):
  c=0
  for i in a:
    if b==i:
      c=c+1
  return(c)
  '''

#lets use your function
#occurence([2,3,4,8,1,3,5,2,1,3,1,2,2], 2)

'\n\ndef occurence(a,b):\n  c=0\n  for i in a:\n    if b==i:\n      c=c+1\n  return(c)\n  '

4. Calculate factorial of a number ( Here number=3) using while loop

In [ ]:
'''n= 8
a=1
#code here
for i in range(n,0,-1):
  a=a*i
print(a)'''

'''n=8
a=1
while n>0:
  a=a*n
  n=n-1
print(a)'''

'n=8\na=1\nwhile n>0:\n  a=a*n\n  n=n-1\nprint(a)'

5. Reverse a given integer number num = 47594038222 and display the count of

*   List item
*   List item

total number of digits in your revered number using while loop.

In [ ]:
#code here
'''
n = 47594038222
a=''
s=str(n)
for i in s:
  a=i+a
print(a,end='')
'''

'''
n = 47594038222
r=0
while (n>0):
  a=n%10
  r=r*10+a
  n=n//10
print(r)
'''

'''
n = 47594038222
a=''
s=str(n)
print(s[::-1])
'''

"\nn = 47594038222\na=''\ns=str(n)\nprint(s[::-1])\n"

6. Can you reverse you given num without using loop in just one line?

Hint: apply some slicing trick to do it.

In [ ]:
num = 47594038222

#one line code here
print(int(str(num)[::-1]))

22283049574

In [ ]:
l=[1,2,3,4]
l[:2]

[1, 2]

7. Write a function that checks whether a given sequence of number is IP address or not and print all valid possible IP from a given digit. If not an IP then it prints empty list

**Note:** According to Wikipedia, IPv4 addresses are canonically represented in dot-decimal notation, which consists of four decimal numbers, each ranging from 0 to 255, separated by dots, e.g., 172.16.254.1

9. Write a program to Remove Punctuations From a String

s="Wow!!!, we are going ahead with our course to learn *machine learning* ---are'nt you excited? :)"

In [ ]:
# code here
a='rahul!@# how are u bro*** i am very @@ lonely :withoUT UU KeEP Going'
b="!@#$%^&*()_+{}:<>?"
for i in a:
    if i in b:
        a=a.replace(i,"")
for i in a:
    print(i.lower(),end='')

rahul how are u bro i am very  lonely without uu keep going

10. Write a program which takes 2 digits, X,Y as input and generates a

*   List item
*   List item

2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,i^Y-1.

In [ ]:
a=3
b=4
m=[[0 for i in range(b)]for j in range(a)]
#print(m)
for i in range(a):
    for j in range(b):
        m[i][j]=i*j
print(m)



#code here

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

12. Given a binary string S , the task is to find the smallest string possible by removing all occurrences of substrings “01” and “11”. After removal of any substring, concatenate the remaining parts of the string.

Example
    
    Input: S = “0010110”
    Output: String = 0
    
    Explanation: String can be transformed by the following steps:
    0010110 → 00110 → 010 → 0.
    Since no occurrence of substrings 01 and 11 are remaining, the string “0” is of minimum possible length 1.

In [ ]:
#code here




#check code here

s="0010110"

In [ ]:
s="0010110"
b=len(s)
while len(s)>=2:
    for i in range(b):
        if (s[i:i+2]=="01")|(s[i:i+2]=="11"):
            s=s.replace(s[i:i+2],"")
print(s)

0

13. Write a function such that it accepts two integers n, m as arguments Find the sum of all numbers in range from 1 to m(both inclusive) that are not divisible by n. Return difference between sum of integers not divisible by n with sum of numbers divisible by n

Example

    Input
    n:4
    m:20
    Output
    90

In [ ]:
#code here

def ne_dv(n,m):
    d=0
    nd=0
    for i in range(1,m+1):
        if i%4==0:
            d=d+i
        else:
            nd=nd+i
    x=nd-d
    print(x)

n=int(input())
m=int(input())
ne_dv(n,m)

4
20
90

214. Write a function count_code that return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.


    count_code('aaacodebbb') → 1
    count_code('codexxcode') → 2
    count_code('cozexxcope') → 2

In [ ]:
#code here
'''
def count_code(s,ss):
    a=0
    for  i in range(len(s)):
        if s[i:i+4]==ss:
            a=a+1
    print(a)

s="aaacodebbbcode"
ss="code"
count_code(s,ss)'''

def count_code(s):
    a=0
    l="abcdefghijklmnopqrstuvwxyz"
    for  i in l:
        a=a+(s.count("co" + i +"e"))
    return(a)

s="aaacodebbbcode"
count_code(s)




#check your code
print(count_code('aaacodebbb'))
print(count_code('codexxcode'))
print(count_code('cozexxcope'))

1
2
2

15. Lets have one moderate level question for you.

Find the sum of the series 4 +44 + 444 + 4444 + .. n terms

here keep n=5

In [ ]:
#code here

  3

16. Assume s is a string of lower case characters.
<br>
Write a program that counts up the number of vowels contained in the string s. Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. For example, if s = 'azcbobobegghakl', your program should print:<br>
```Number of vowels: 5```

In [ ]:
#code here

def vowels(c):
    b=['a', 'e', 'i', 'o',"u"]
    s=0
    for i in c:
       if i in b:
           s=s+1
    return(s)
c=input()
print(vowels(c))

"azcbobobegghakl"
5



----------------------------------------------------------------------